<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>{% block title %}test{% endblock %}</title>
        <!--设置网页的标题，通过这样的设置，你可以利用 jinja2 的一些特性，将每个网页的标题进行不通的设置．-->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js">
        </script><script src="../static/dist/lang/summernote-zh-CN.js"></script>

        {% block css %}　<!--css模块区域-->
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.css') }}">
        {% endblock %}


{#         {% block js %}<!--js模块区域-->#}
{#            <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/jquery-3.3.1.js') }}"></script>#}
{#            <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>#}
{#        {% endblock %}#}
    </head>

    <body>
        {% include 'common/header_2.html' %}<!--引入网页的头部模板-->

        <div class="container-fluid">

            <div class="row" id="middle" style="margin-top: 60px;height:100%;">
                <div class="col-xs-6 col-md-4" id="sidebar">
                    {% include 'common/sidebar.html' %}
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8" id="main">
                    <div id="main_header">
                        <h4 style="border-radius:2px;border:1px solid #0f0f0f">untitle1</h4>
                        <button type="button" class="btn btn-primary" id="save" data-loading-text="保存中">保存</button>
                        <script type="text/javascript">
                            $(function() {
                                $("#save").click(function(){
                                    $(this).button('loading').delay(1000).queue(function() {
                                        $(this).button('complete');
                                    });
                                });
                            });
                        </script>
                    </div>
                    <textarea id="summernote"></textarea>
                    <script>
                    $(document).ready(function() {
                        $('#summernote').summernote({
                            height: 550,                 // set editor height
                            minHeight: null,             // set minimum height of editor
                            maxHeight: null,             // set maximum height of editor
                            focus: true,                 // set focus to editable area after initializing summernote
                            lang: 'zh-CN' // default: 'en-US'

                        });
                    });
                    </script>
                </div>
            </div>


        </div>
    </body>
</html>